$primary-color: #38baee !default;
$mount-color: #5fbde26a !default;
$accent-color: rgba(0, 0, 0, 0.524) !default;
@mixin cards {
    border: 1px solid $accent-color;
    border-radius: 7px;
    text-align: center;
    margin-left: 20px;
    
  }
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
